[Unit]
Description=start up state
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/fullon
TimeoutStartSec=0

[Install]
WantedBy=fullon.target
